<!DOCTYPE html>
<html lang="en" ng-app="GeneralInfoApp">

<head>
    <title>General Info </title>
    <% include ./partials/head %>
</head>

<body ng-controller="MainCtrl">    
    <!-- nav bar starts here -->
     	<% include ./partials/header %>
    <!-- nav bar ends here -->
    
    <div class="container-fluid sign-up-bg_img">
        <div class="col-sm-10 col-sm-offset-1">
            <br/>
            
            <div class="row page-header-wrap">
                <div class="col-sm-8 col-sm-offset-2">
                    <h3>General Info </h3> </div>
                <div class="col-sm-2"> <span class="survey-btns-wrap">
					        <button type="button" class="btn btn-xs add-survey-btn">Add New &nbsp; <i class="fa fa-plus-circle"></i></button> 
						<!--    <button type="button" class="btn btn-xs edit-survey-btn">Edit &nbsp; 
                        <i class="fa fa-edit"></i></button>  -->
					    </span> </div>
            </div>
            
            <div class="row" style="margin:0; padding:15px 0 20px; background:#f5f5f5;">
                
                <div class="survey-question-wrap">
                    <div class="col-sm-12">
                        
                      <!-- Accordion starts -->
                        <div class="panel-group" id="accordion">                            
                            <!-- panel panel-default -->
                            
                            <div class="panel panel-default survey-questn-accordion">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="question-block">
                                        Q) <%=question.English%> ?
                                    </a>  
                                </div>
                                <div id="collapse2" class="panel-collapse collapse ">
                                    <div class="panel-body">
                                      
                                      <!-- edit-part --> 
                                        <button   ng-disabled="Edit_btn" class="btn btn-xs btn-info pull-right" 
                                        ng-click="btn_click()">
                                            <i class="fa fa-edit"></i> &nbsp; Edit
                                        </button>
                                      <!-- edit-part --> 
                                        
                                        <div  ng-hide="QuestionTypeDiv" class="col-sm-12">
                                            <div ng-show="testing" ng-include="'questionTypePartial'"></div>
                                            <div ng-hide="testing" ng-include="'questionReadOnlypartial'"></div>
                                        </div>
                                        <!-- col-sm-6 -->
                                        
                                    </div>
                                    <!-- panel-body -->
                                </div>
                                <!-- id="collapse2" -->
                            </div>
                            <!-- panel panel-default -->
                        
                        </div>
                        <!-- panel-group -->
                    </div>
                    <!-- col-sm-12 -->
                </div>
                <!-- survey-question-wrap -->
            </div>
            <!-- row --->
        
        </div>
        <!-- col-sm-10 -->
    
    </div>
    <!-- container-fluid -->
    
  <!--- footer  -->
    <div class="container-fluid footer-partners">
        <div class="row">
            <div class="col-sm-2 col-xs-12"> 
                <img src="./img/logo-footer.png" style="height:35px; width:170px;">
            </div>
            <div class="col-sm-2 col-xs-12"> 
                <img src="./img/p1.png">
            </div>
            <div class="col-sm-2 col-xs-12"> 
                <img src="./img/p2.png">
            </div>
            <div class="col-sm-2 col-xs-12"> 
                <img src="./img/p3.png">
            </div>
            <div class="col-sm-2 col-xs-12"> 
                <img src="./img/p4.png">
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container-fluid -->
    
    <footer> 
        <i class="fa fa-twitter"></i> &nbsp; <i class="fa fa-facebook-square"></i> 
    </footer>
  <!--- footer  -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script src="js/GeneralInfoScript.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  <!-- ****  NOTE: custom code ***** -->
    <script>
        $(document).ready(function () {
            $(".upload-files").hover(function () {
                $(this).find(".upload-hover-wrapper").toggleClass("toggle-onhover");
            });
        });
    </script>

</body>

</html>