<!-- <form action="/AddNewQuestion" method="post" enctype="multipart/form-data">  -->

    <label style="display:block;"><b>Question Type <span style="color:#fb6969">*</span></b></label>
    
    <label class="radio-inline" style="margin-right:28px;">
    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" ng-model="radio_model" ng-change="radioSelect('checkBox')"  value="option1"> Checkbox </label>

    <label class="radio-inline" style="margin-right:28px;">
    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" ng-model="radio_model" ng-change="radioSelect('dropDown')" value="option2"> Dropdown </label>

    <label class="radio-inline" style="margin-right:28px;">
    <input type="radio" name="inlineRadioOptions" id="inlineRadio3" ng-model="radio_model" ng-change="radioSelect('textFeild')" > Text Field </label>

<div class="clearfix"></div><br/>
                                        
                                      
  <label style="display:block;padding-left:15px;"><b>Question Text <span style="color:#fb6969">*</span></b>
                                        </label>
    
    <div class="col-sm-6 col-md-4 col-lg-4">
    <div class="form-group">
    <input type="text" class="form-control" name="QT_English" ng-model="$parent.ENQues" placeholder="English"> </div>
    </div>
    <!-- col-sm-6 -->

    <div class="col-sm-6 col-md-4 col-lg-4">
    <div class="form-group">
    <input type="text" class="form-control" name="QT_Gujarati" placeholder="ગુજરાતી"> </div>
    </div>
    <!-- col-sm-6 -->

    <div class="col-sm-6 col-md-4 col-lg-4">
    <div class="form-group">
    <input type="text" class="form-control" name="QT_Hindi" placeholder="हिन्दी"> </div>
    </div>
    <!-- col-sm-6 -->
    
    <div class="clearfix"></div>
    
    <div ng-show="$parent.OptionDiv"  class="col-sm-12 ">
        <label style="display:block;"><b>Options <span style="color:#fb6969">*</span></b></label>

        <div class="row delete-options-in-survey-bg">
         <fieldset  data-ng-repeat="choice in choices">    <!--$scope.choices from controller -->  
            <div class="col-sm-10 col-md-11" style="padding:0">
                <div class="col-sm-3 form-group">                     
                    <input type="text"   name="opt_EN" placeholder="">
                </div>   
                <div class="col-sm-3 form-group">                     
                    <input type="text"  name="opt_GJ" placeholder="">
                </div>
                <div class="col-sm-3 form-group">                     
                    <input type="text"   name="opt_HI" placeholder="">
                </div> 
                 <div class="col-sm-3 form-group">                     
                    <a class="btn" ng-show="$last" ng-if="choices.length > 2" ng-click="removeChoice()">Remove</a>    
                </div>                         
            </div>
         </fieldset>       
            <a class="btn" ng-click="addFirstChoice()">Add fields</a>                  
        </div><!-- delete-options-in-survey-bg -->
    </div>
    <!-- col-sm-12 -->
    
     
    <div class="clearfix"></div>
    <br/>
    
    <div class="col-sm-12 ">
        
        <label class="checkbox-inline" style="padding-left:1px; margin-bottom:20px;"> <b>Need Assistance <span style="color:#e33132">*</span></b><input type="checkbox" ng-change="showAssistance_create()" ng-model="Option" id="inlineCheckbox1" name="CB_NeedAssistance" style="margin-left: 17px; margin-top: -5px;"> </label>
    </div> <!-- col-sm-12  -->
    
   <div  ng-show="needAssistanceDiv_Create"> 
        <div  ng-include="'needAssistancePartialBlank'"></div>
   </div> <!--needAssistanceDiv-->                                               
    <div class="clearfix"></div>
    
    <div class="col-sm-12 select-radio-btn">
        <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" name="CB_Masonary" style="margin-top:-4px;" > Masonary 
        </label>
        <label class="checkbox-inline  " >
            <input type="checkbox" id="inlineCheckbox2" name="CB_Rcc"    style="margin-top:-4px;"  > RCC 
        </label>
        <label class="checkbox-inline  ">
            <input type="checkbox" id="inlineCheckbox3" name="CB_Steel" style="margin-top:-4px;"  > Steel 
        </label>
        <label class="checkbox-inline  ">
            <input type="checkbox" id="inlineCheckbox4" name="CB_Compo"  style="margin-top:-4px;"  > Composite 
        </label>
    </div>
<div class="col-sm-12 text-center">
    <br/> 
    <button type="submit"  href="javascript:void(0);" class="orange-btn">Save</button>    
</div>
</form>
