<!DOCTYPE html>
<html lang="en">

<head>
  <title>Survey Management</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/rvs-style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet"> 
</head>

<body>
  
  <!-- nav bar starts here -->
  
      <% include ./partials/header %>
  
  <!-- nav bar ends here -->
  
  <div class="container-fluid sign-up-bg_img">
      
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <br/>
      <h3 class="select-building-type">Survey Management</h3>
      
      <div class="row" style="margin:0; padding-top:25px; padding-bottom:10px; background:#f5f5f5;">
          
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            
          <div class="table-responsive">
              
            <form class="form-inline">
                <div class="form-group">
                    <label for=""><i class="fa fa-filter"></i>&nbsp; Filter</label> &nbsp; &nbsp; &nbsp;
                    <select class="form-control filterStatus" id="" name="">
                        <option value="select" >Select</option>
                        <option value="draft">Draft</option>
                        <option value="submitted">Submitted</option>
                        <option value="review requested">Review Requested</option>
                        <option value="review completed">Review Completed</option>
                    </select>
                </div>
            </form>
            <br/>
              
            <table class="table table-bordered">
              <thead>
                  <tr>
                      <th></th>
                      <th>Address</th>
                      <th>User</th>
                      <th>Type Of Assessment</th>
                      <th>Building Type</th>
                      <th>Submitted Date</th>
                      <th>Status</th>
                      <th>Expert Comment</th>
                      <th>Action</th>
                  </tr>
              </thead>
              <% surveyData.forEach(function (survey) { %>
              <tbody class="tbody-data" data-survey-status='<%= survey.status %>'>
                  <tr>
                    <td>
                        <p data-html="true" data-toggle="tooltip" data-placement="bottom" title="Building ID: <%= survey.buildingId%> <br/> Survey ID: <%= survey.surveyID%>">
                        <img src="<% if(survey.buildingProfileImg[0]) { %>
                                      <%=survey.buildingProfileImg[0].imgUrl %>
                                  <%  } %>"
                        width="50" />
                        </p>
                    </td>
                    <td>
                      <%= survey.basicInfo.streetAddr %> <br/> <%= survey.basicInfo.city %> <%= survey.basicInfo.state %> <br/> <%= survey.basicInfo.pincode %>
                    </td>
                    <td>
                      <p data-html="true" data-toggle="tooltip" data-placement="bottom" title="
                      <% registersurveyer.forEach(function (user) { %>
                        <% if(user.email  === survey.userId._id ) { %>
                          Email: <%= user.email %> <br/> Phone: <%= user.phone %>
                        <% } %>
                      <% }) %>
                      ">
                      <% registersurveyer.forEach(function (user) { %>
                        <% if(user.email  === survey.userId._id ) { %>
                          <%= user.prefix %> <%= user.firstname %> <%= user.middlename %> <%= user.lastname %>
                        <% } %>
                      <% }) %>
                      </p>
                    </td>
                    <td>
                        <%= survey.AssesmentStd %>
                    </td>
                    <td> 
                       <%= survey.building_type %>
                    </td>
                    <td><%= moment(survey.dateTime).format('DD/MM/YYYY') %></td>
                    <td class="text-success sur-status"><b><%= survey.status %></b></td>
                    <td>
                        <p data-html="true" data-toggle="tooltip" data-placement="bottom" title="<%= survey.ExpertComment %>">
                            
                            Hover to read the expert comment
                        </p>
                    </td>
                    <td class="hover-pointer">
                        <i class="fa fa-eye text-info" data-sur-id='<%= survey._id %>' value='<%= survey._id %>' ></i> &nbsp;&nbsp;
                        <i class="fa fa-trash text-danger" data-id='<%= survey._id %>'></i>
                    </td>
                    
                  </tr>
                
                  
              </tbody>
              <% }) %>
            </table>
          </div>  <!-- table-responsive -->
        
        </div> <!-- col-sm-12 -->
          
      </div> <!-- row -->
        
    </div> <!-- col-sm-12 -->
      
  </div> <!-- container-fluid -->
  
<!--- footer  -->
   <% include ./partials/footer %> 
<!-- Custom Code -->
  <script>
      $(document).ready(function(){
         $('[data-toggle="tooltip"]').tooltip();   
      });
  </script>

<script type="text/javascript">

    $('.fa-eye').click(function (e) {
        e.preventDefault();
        
        var data1 = $(this).data('sur-id')
        console.log(data1)
        window.location.href = "/survey_details/"+data1
        // $.ajax({
        //   url: "/survey_details/"+data1,   
        //   type: "get",                      
        //   // data: {id: data1},                         
        //   success: function(result) {
               
        //    }

        // });
    });
</script>
<script type="text/javascript">

    $('.fa-trash').click(function (e) {
        e.preventDefault();
        
        var data1 = $(this).data('id')
        console.log(data1)
        $.ajax({
          url: "/survey_delete",   
          type: "delete",                      
          data: {id: data1},                         
          success: function(result) {
            console.log(result)
               window.location.href = "/survey"
           }

        });
    });
</script>

  <script type="text/javascript">

    $('.filterStatus').change(function (e) {
        e.preventDefault();
        var data1 = $(this).val()
        console.log(data1)
        if (data1 === 'submitted'){

          $('.tbody-data').hide();
          $('.tbody-data').each(function (idx, el) {
            var status = $(el).data('survey-status')

            if ( status == 'Submitted'){
              $(el).show();
            }
          })

        } else if(data1 === 'draft') {
          $('.tbody-data').hide();
          $('.tbody-data').each(function (idx, el) {
            var status = $(el).data('survey-status')
             if ( status == 'Draft'){
             $(el).show();
            }
          })

        } else if(data1 === 'review requested') {
          $('.tbody-data').hide();
          $('.tbody-data').each(function (idx, el) {
            var status = $(el).data('survey-status')
             if ( status == 'Review Requested'){
             $(el).show();
            }
          })

        } else if(data1 === 'review completed') {
          $('.tbody-data').hide();
          $('.tbody-data').each(function (idx, el) {
            var status = $(el).data('survey-status')
             if ( status == 'Review Completed'){
             $(el).show();
            }
          })

        } else if (data1 === 'select'){

          $('.tbody-data').show();

        }
    });
</script>

</body>

</html>