<!DOCTYPE html>
<html lang="en">

<head>
  <title>Survey Management</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/rvs-style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet"> 
</head>

<body>
  
  <!-- nav bar starts here -->
  
      <% include ./partials/header %>
  
  <!-- nav bar ends here -->
  
  <div class="container-fluid sign-up-bg_img">
      
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <br/>
      <h3 class="select-building-type">Survey Management</h3>
      
      <div class="row" style="margin:0; padding-top:25px; padding-bottom:10px; background:#f5f5f5;">
          
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            
          <div class="table-responsive">
              
            <form class="form-inline">
                <div class="form-group">
                    <label for=""><i class="fa fa-filter"></i>&nbsp; Filter</label> &nbsp; &nbsp; &nbsp;
                    <select class="form-control" id="" name="">
                        <option>Select</option>
                        <option>Draft</option>
                        <option>Submitted</option>
                        <option>Review Requested</option>
                        <option>Review Completed</option>
                    </select>
                </div>
            </form>
            <br/>
              
            <table class="table table-bordered">
              <thead>
                  <tr>
                      <th></th>
                      <th>Address</th>
                      <th>User</th>
                      <th>Type Of Assessment</th>
                      <th>Building Type</th>
                      <th>Submitted Date</th>
                      <th>Status</th>
                      <th>Expert Comment</th>
                      <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                <% surveyData.forEach(function (survey) { %>
                  <tr>
                    <td>
                        <p data-html="true" data-toggle="tooltip" data-placement="bottom" title="Building ID:  <br/> Survey ID:">
                        <img src="<%= survey.buildingProfileImg %>" width="50" />
                        </p>
                    </td>
                    <td>
                      <%= survey.basicInfo.streetAddr %> <br/> <%= survey.basicInfo.city %> <%= survey.basicInfo.state %> <br/> <%= survey.basicInfo.pincode %>
                    </td>
                    <td>
                      <p data-html="true" data-toggle="tooltip" data-placement="bottom" title="
                      <% registersurveyer.forEach(function (user) { %>
                        <% if(user._id  === survey.userId ) { %>
                          Email: <%= user.email %> <br/> Phone: <%= user.phone %>
                        <% } %>
                      <% }) %>
                      ">
                      <% registersurveyer.forEach(function (user) { %>
                        <% if(user._id  === survey.userId ) { %>
                          <%= user.prefix %> <%= user.firstname %> <%= user.middlename %> <%= user.lastname %>
                        <% } %>
                      <% }) %>
                      </p>
                    </td>
                    <td>
                        <%= survey.typeOfAssessment %>
                    </td>
                    <td> 
                    <% buildingType.forEach(function (building) { %>
                        <% if(building._id  === survey.buildingTypeId ) { %>
                          <%= building.name.English %>
                        <% } %>
                      <% }) %>
                    </td>
                    <td><%= moment(survey.dateTime).format('DD/MM/YYYY') %></td>
                    <td class="text-success"><b><%= survey.status %></b></td>
                    <td>
                        <p data-html="true" data-toggle="tooltip" data-placement="bottom" title="<%= survey.ExpertComment %>">
                            
                            Hover to read the expert comment
                        </p>
                    </td>
                    <td class="hover-pointer">
                        <i class="fa fa-eye text-info"></i> &nbsp;&nbsp;
                        <i class="fa fa-trash text-danger"></i>
                    </td>
                    
                  </tr>
                <% }) %>
                  
              </tbody>
            </table>
          </div>  <!-- table-responsive -->
        
        </div> <!-- col-sm-12 -->
          
      </div> <!-- row -->
        
    </div> <!-- col-sm-12 -->
      
  </div> <!-- container-fluid -->
  
<!--- footer  -->
   <% include ./partials/footer %> 
<!-- Custom Code -->
  <script>
      $(document).ready(function(){
         $('[data-toggle="tooltip"]').tooltip();   
      });
  </script>
</body>

</html>