<!DOCTYPE html>
<html lang="en" >

<head>
    <title> View Statistics</title>
    
    <% include ./partials/head %>        

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
     
</head>

<body>
	<!-- nav bar starts here -->
	     <% include ./partials/header %>
	  <!-- nav bar ends here -->
	  
    <div class="container-fluid sign-up-bg_img">
    
	  	<img src="img/statisitcs.jpg" class="img-rounded" alt="Cinque Terre" max-width: 100%> 
	</div>

  <!--- footer  -->
    <div class="container-fluid footer-partners">
        <div class="row">
            <div class="col-sm-2 col-xs-12"> <img src="./img/logo-footer.png" style="height:35px; width:170px;"> </div>
            <div class="col-sm-2 col-xs-12"> <img src="./img/p1.png"> </div>
            <div class="col-sm-2 col-xs-12"> <img src="./img/p2.png"> </div>
            <div class="col-sm-2 col-xs-12"> <img src="./img/p3.png"> </div>
            <div class="col-sm-2 col-xs-12"> <img src="./img/p4.png"> </div>
        </div> <!-- row -->
        
    </div> <!-- container-fluid -->
    
    <footer> <i class="fa fa-twitter"></i> &nbsp; <i class="fa fa-facebook-square"></i> </footer>
   <!--- footer  -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  <!-- Custom Code -->
    <script>
        $(document).ready(function(){
           $('[data-toggle="tooltip"]').tooltip();   
        });
    </script>
</body>

</html>
