<!DOCTYPE html>
<html lang="en" >

<head>
    <title> View Statistics</title>
    
    <% include ./partials/head %>        

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
     
</head>

<body>
	<!-- nav bar starts here -->
	     <% include ./partials/header %>
	  <!-- nav bar ends here -->
	  
    <div class="container-fluid sign-up-bg_img">
    
	  	<img src="img/statisitcs.jpg" class="img-rounded" alt="Cinque Terre" max-width: 100%> 
	</div>

  <!--- footer  -->
     <% include ./partials/footer %> 
  <!-- Custom Code -->
    <script>
        $(document).ready(function(){
           $('[data-toggle="tooltip"]').tooltip();   
        });
    </script>
</body>

</html>
